@charset "utf-8";
        
header {
    background-color: #fff;
    color: white;
    padding: 35px 60px; 
}
header img {
    width: 160px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* 배경색을 흰색으로 변경 */
    margin: 0;
    padding: 0;
}
.container {
    width: 50%;
   /*  height: 50vh;   */
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); 
}
.post-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 40px;
}
.post-content {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 40px 20px 40px;
}
.post-meta {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
    margin-left: 40px;
}
.form-group {
	margin-left: 40px;
}     
.btn {
    background-color: #fff; /* 배경색을 흰색으로 변경 */
    color: black; /* 글자색을 검은색으로 변경 */
    padding: 10px 20px;
    border: 1px solid black; /* 검은색 테두리 추가 */
    border-radius: 5px;
    text-decoration: none;
  	margin-right: 5px;
}
.btn:hover {
    background-color: #555;
    color: white; /* 호버 시 글자색을 흰색으로 변경 */
}
.btnbox {
    display: flex;
    justify-content: center;
}
